.about {
    padding: 80px 0;
    background-color:#ffffff;
    overflow-x: hidden;

    &__text {
        margin: 20px 0;
    }

    &__preview-wrap {
        transform: rotate(-2deg);
        height: 400px;
        margin-top: 50px;
        position: relative;

        &::after {
            z-index: 1;
            content: "";
            position: absolute;
            height: 110%;
            width: 110%;
            background-color: #f0eae3;
            border-radius: 4px;
            left: 15%;
            top: -5%;
            box-shadow: 2px 4px 15px 0px rgba(34, 60, 80, 0.51);
        }
    }

    &__preview {
        position: relative;
        z-index: 10;
        height: 100%;
        width: 100%;
        object-fit: cover;
        box-shadow: 2px 4px 15px 0px rgba(34, 60, 80, 0.51);
        border-radius: 4px;
    }
}